#container { margin: 10px; }

.form-stacked { 
  input, textarea, label {
    display: block;
  }

  legend {
    font-size: 110%;
    font-weight: bold;
  }

  fieldset {
    border: 1px solid #aaa;
  }

  input, textarea {
    margin-bottom: 10px;
  }

  pre {
    background: #eee;
    overflow: scroll;
    font-size: 80%;
  }

}

.warning {
  border-color: #e44;
  background: #fdd;
}
