<form name="newKeysForm" class="form-stacked" ng-controller="CreateKeysController">
  <fieldset>
    <legend>New PGP Key Pair</legend>
    <div ng-include="'templates/_error.html'"></div>
    <div class="row">
      <div class="col c6">
        <div class="row">
          <label>Name:</label>
          <input class="col c11" ng-model="form.name" placeholder="John Smith" required="yes" />
        </div>
        <div class="row">
          <label>Email:</label>
          <input class="col c11" ng-model="form.email" type="email" placeholder="jsmith@example.com" required="yes" />
        </div>
        <div class="row">
          <label>Passphrase:</label>
          <input class="col c11" ng-model="form.passphrase" type="password" required="yes" minlength="10" />
        </div>
        <div class="row">
          <label>Confirm passphrase:</label>
          <input class="col c11" ng-model="form.confirm" type="password" required="yes" minlength="10" />
        </div>
        <div class="row">
          <button ng-click="generateKeys()" class="btn btn-a btn-sm smooth">Create</button>
        </div>
      </div>
      <div class="col c6" ng-include="templates/keys/view.html">
      </div>
  </fieldset>
</form>
