<div id="encrypt-tab">
  <div rv-hide="alreadyEncrypted">
    <div rv-show="clearText">
      <div class="error" rv-show="error">{ error }</div>
      <label for="filter">Search address book:</label>
      <input class="filter" rv-value="filter" rv-on-keyup="doFilter" placeholder="name or email">
      <ul class="found-keys" rv-show="hasFoundKeys < foundKeys">
        <li rv-on-click="select" rv-each-key="foundKeys"><span>{ key.getPrimaryUser }</span></li>
      </ul>
      <div class="bottom" rv-show="hasSelectedKeys < selectedKeys">
        <label>Encrypt for:</label>
        <ul class="selected-keys">
          <li rv-each-key="selectedKeys"><div class="name">{ key.getPrimaryUser }</div><div class="remove" rv-on-click="remove">x</div></li>
        </ul>
        <button rv-on-click="submit">encrypt</button>
      </div>
    </div>
    <div rv-hide="clearText">
      Type your message in a text area in the page, then open this dialog again
      for encryption options.
    </div>
  </div>
  <div rv-show="alreadyEncrypted" class="middle">
    <p>This message has already been encrypted. You can send it now.</p>
    <button rv-on-click="restore">Decrypt your message</button>
  </div>
</div>
