#content {
    padding: 10px;
}

.link {
    cursor: pointer;
    font-size: 0.8em;
    text-decoration: underline;
}

textarea, [contenteditable=true] {
    clear: both;
    width: 90%;
    height: 100px;
    border: 1px solid #333;
}
