<div>
  <form name="importKeysForm" rv-on-submit="submit" class="pure-form pure-form-stacked">
    <fieldset>
      <legend>Import a PGP key</legend>
      <div class="pure-g" rv-show="error">
        <div class="pure-u-1 warning">{ error }</div>
      </div>
      <div class="pure-control-group">
        <div class="pure-control-group">
          <label>Public key:</label>
          <textarea rv-value="key" required="yes"></textarea>
        </div>
        <div class="pure-control-group">
          <button type="submit" class="pure-button pure-button-primary">Import</button>
          <span rv-show="spinner"><i class="fa fa-cog fa-spin"></i></span>
        </div>
    </fieldset>
  </form>
</div>

