<div>
  <form class="pure-form">
    <input rv-value="filter" rv-on-keyup="doFilter" placeholder="filer">
  </form>
  <table class="pure-table">
    <thead>
      <tr>
        <th>User ID</th>
        <th>Fingerprint</th>
        <th>x</th>
      </tr>
    </thead>
    <tbody>
      <tr rv-each-key="foundKeys">
        <td>{ key.getPrimaryUser }</td>
        <td>{ key.fingerprint }</td>
        <td><i class="fa fa-trash" rv-on-click="remove"></i></td>
      </tr>
    </tbody>
  </table>
</div>


