<div rv-hide="key">
  <h1>No personal PGP key found</h1>
  <a href="#/key/generate" class="pure-button">Create a new PGP key</a>
  <a href="#/key/import" class="pure-button">Import an existing PGP key</a>
</div>

<div rv-show="key">
  <h1>Your PGP key</h1>
  <table class="pure-table">
    <tbody>
      <tr>
        <td>Fingerprint</td>
        <td>{ publicKey.fingerprint }</td>
      </tr>
      <tr>
        <td>User IDs</td>
        <td>
          <ul>
            <li rv-each-user="key.userIds">{ key.userIds }</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td colspan="2"><pre>{ publicKey.armored }</pre></td>
      </tr>
    </tbody>
  </table>
</div>
