<h1>My key</h1>
<div rv-hide="hasPrivateKey">
  <p><b>You have not created or imported a private PGP key.</b> You need a
  private PGP key in order to begin sending and receiving encrypted messages.</p>
  <p>You have two options: </p>
  <div class="well set-center">
    <a href="#/key/generate" class="pure-button pure-button-primary button-xlarge">Create a new private key</a>
    ... or ...
    <a href="#/key/import" class="pure-button button-secondary button-xlarge">Import a private key</a>
  </div>
</div>

<div rv-show="hasPrivateKey">
  <p>You are ready to receive encrypted messages. This is your public key. You
  can copy it and send it to your friends. <b>Note!</b> You can also send your
  public key automatically from the browser action widget.  </p>
  <div>
    <img src="images/key_share.png" width="360">
  </div>
  <div class="pure-menu pure-menu-horizontal">
      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="#" class="pure-menu-link pure-button button-small copy" data-clipboard-target="#armored" rv-show="showingPublic">copy to clipboard</a></li>
        <li class="pure-menu-item"><a href="#" class="pure-menu-link pure-button button-small" rv-on-click="toggle" rv-text="toggleText < showingPublic"></a></li>
        <li class="pure-menu-item"><a href="#/key/remove" class="pure-menu-link pure-button button-small button-error">Remove</a></li>
      </ul>
  </div>
  <pre id="armored" rv-text="armored < showingPublic"></pre>
</div>

<div class="well">
  What is PGP? Read the Wikipedia article on <a href="https://en.wikipedia.org/wiki/Pretty_Good_Privacy">Pretty Good Privacy</a>.
</div>
