<h1>My public key</h1>
<div rv-hide="hasPrivateKey">
  <p>You have not created or imported a private PGP key. Please choose the options below:</p>
  <div class="tools">
    <a href="#/key/generate" class="pure-button pure-button-primary button-xlarge">Create a new private key</a>
    .. or ..
    <a href="#/key/import" class="pure-button button-secondary button-xlarge">Import a private key</a>
  </div>
</div>

<div rv-show="hasPrivateKey">
  <div class="tools">
    <a href="" class="pure-button">Copy to clipboard</a>
    <a href="#/key/remove" class="pure-button button-error button-small pull-right">Delete</a>
  </div>
  <pre rv-text="armored"></pre>
</div>
