<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Pretty Good Plugin (Settings)</title>

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="css/pure-min.css">
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- Local CSS -->
    <link rel="stylesheet/less" type="text/css" href="css/style.less">

    <!-- Vendors JS -->
    <script src="./bower_components/pathjs/path.min.js"></script>
    <script src="./bower_components/jquery/dist/jquery.min.js"></script>
    <script src="./bower_components/rivets/dist/rivets.bundled.min.js"></script>
    <script src="./bower_components/openpgp/dist/openpgp.min.js"></script>
    <script src="./bower_components/less/dist/less.js"></script>

    <!-- Code -->
    <script src="src/admin.js"></script>
  </head>
  <body>
    <div id="container" >
      <nav class="pure-menu pure-menu-horizontal">
          <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="#/key/generate" class="pure-menu-link"> Generate</a></li>
            <li class="pure-menu-item"><a href="#/key/import" class="pure-menu-link"> Import</a></li>
            <li class="pure-menu-item"><a href="#/key/view" class="pure-menu-link"> View</a></li>
            <li class="pure-menu-item"><a href="#/key/remove" class="pure-menu-link"> Remove</a></li>
            <li class="pure-menu-item"><a href="#/pub/import" class="pure-menu-link"> PubImport</a></li>
          </ul>
      </nav>
      <div id="notify" rv-on-click="notify.clear">
        <div class="warning" rv-if="notify.error">{ notify.error }</div>
        <div class="info" rv-if="notify.info">{ notify.info }</div>
      </div>
      <article>
      </article>
    </div><!-- #container -->
  </body>
</html>
