<!doctype html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Short Link Privacy (Settings)</title>

    <!-- Vendors CSS -->
    <link rel="stylesheet" href="css/pure-min.css">
    <link rel="stylesheet" href="css/slp.css">

    <!-- Local CSS -->
    <link rel="stylesheet" type="text/css" href="css/admin.css">

    <!-- Vendors JS -->
    <script src="./bower_components/pathjs/path.min.js"></script>
    <script src="./bower_components/rivets/dist/rivets.bundled.min.js"></script>
    <script src="./bower_components/clipboard/dist/clipboard.min.js"></script>
    <script src="./bower_components/openpgp/dist/openpgp.min.js"></script>

    <!-- Code -->
    <script src="src/modules.js"></script>
    <script src="src/admin.js"></script>
  </head>
  <body>
    <div id="container" >
      <nav class="pure-menu pure-menu-horizontal">
          <span href="#" class="pure-menu-heading"><b>slp</b></span>
          <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="#/key/view" class="pure-menu-link round-link"><i class="icon-key"></i> My Key</a></li>
            <li class="pure-menu-item"><a href="#/pub/list" class="pure-menu-link round-link"><i class="icon-address-book"></i> Address Book</a></li>
            <!--
            <li class="pure-menu-item"><a href="#/advanced" class="pure-menu-link round-link"><i class="icon-cog"></i> Advanced</a></li>
            -->
          </ul>
      </nav>
      <div id="notify" rv-on-click="notify.clear">
        <div class="warning" rv-if="notify.error">{ notify.error }</div>
        <div class="info" rv-if="notify.info">{ notify.info }</div>
      </div>
      <article>
      </article>
    </div><!-- #container -->
  </body>
</html>
