
@pwdBg: #002F2F;
@pwdInputBorder: #FFB03B;
@pwdErrorBg: #8E2800;
@pwdErrorFg: #FFF0A5;

@base: #EFECCA;
@tabBg: #A7A37E;
@tabFg: #333;
@tabHover: #E6E2AF; 
@activeTabBg: @base;
@activeTabFg: #333;


html,body {
  margin: 0;
  padding: 0;
}

#error {
  background-color: @pwdErrorBg;
  color: @pwdErrorFg;
  padding: 3px;
  font-weight: bold;
  text-align: center;
}

#password {
  background-color: @pwdBg;
  width: 300px;
  height: 100px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;

  button {
    font-size: 90%;
    margin-top: 6px;
  }

  input {
    font-size: 150%;
    padding: 5px;
    border: 2px solid @pwdInputBorder;
  }

}

#main {
  width: 360px;
  height: 300px;
  display: block;
  background-color: @base;

  .menu {
    background-color: #fff;
    height: 30px;
    line-height: 30px;
    ul {
      margin: 0;
      padding: 0;

      li {
        font-size: 115%;
        list-style-type: none;
        float: left;
      }

      a {
        display: block;
        text-decoration: none;
        color: @tabFg;
        background-color: @tabBg;
        padding: 0 15px;
        margin-right: 5px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-weight: bold;

        &:hover {
          color: @tabHover; 
        }

        &.active  {
          background: @activeTabBg;
          color: @activeTabFg;
        }
      }
    }
  }
  

  article {
    padding: 5px;
  }

  #address-book {


    .filter {
      margin-bottom: 3px;
      color: #00a;
      font-weight: bold;
    }

    ul {
      margin: 5px 0;
      padding: 0;
      input[type="checkbox"] {
        cursor: pointer;
      }
      li {
        padding: 2px 0;
        list-style-type: none;
        cursor: pointer;
        &:hover {
          background-color: #3b8bba;
          color: #fff;
        }
      }
    }
  }

  button {
    font-weight: bold;
  }
}
