
// Main
@mainBg: #F3F5F8;
@mainWidth: 360px;
@mainHeight: 300px;

// Menu
@menuHeight: 20px;
@menuBg: #acd6ff;
@menuFg: #002270;
@menuHover: #fff;

// Logo
@logoBg: @menuBg;
@logoFg: @menuFg;
@logoBorder: none;

// Article
@articlePadding: 10px;
@articleHeight: @mainHeight - @menuHeight - @articlePadding * 2;

// Select
@selectBg: #ADC6FF;
@selectFg: #002070;

// Beads
@beadBg: #ADC6FF;
@beadFg: #002270;
@beadBorder: 1px solid #002C91;
@beadShadow: none; //1px 1px #000;
@beadBoxShadow: none; //1px 1px 2px #c7c7ce;
@beadWidth: 100px;
@beadHeight: 15px;
@beadPadding: 2px;
@beadRadius: 3px;

// Bead remove
@beadRemoveWidth: 15px;
@beadRemoveBg: #002C91;
@beadRemoveFg: #7FA6FF;


html,body {
  margin: 0;
  padding: 0;
}

textarea:focus, input:focus, a:focus {
    outline: none;
}

.input {
  background-color: rgba(0, 0, 0, 0.1);
  color: #002F2F;
  border: 1px solid #aaa;
}

input[type=password] {
  font-size: 150%;
  padding: 5px;
}

// General error and info
.error, .info {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0px;
  padding: 3px;
  font-weight: bold;
  text-align: center;
}

.error {
  background-color: #8E2800;
  color: #FFF0A5;
}

.info {
  background-color: #003F3F;
  color: #fff;
}

.pull-left {
  float: left;
}

.pull-right {
  float: right !important;
}

// General button
.button {
    display: inline-block;
    position: relative;
    margin: 10px;
    padding: 0 20px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 2px #fff;
    font: bold 12px/25px Arial, sans-serif;
    border-radius: 10px;
    transition: all 0.15s ease;
    border: 1px solid #999;
    &:hover,
    &:focus {
      background-image: linear-gradient(transparent, rgba(0,0,0, 0.05) 40%, rgba(0,0,0, 0.10));
    }
    cursor: pointer;
}


.button-large {
  font-size: 150%;
}

.button-small {
  font-size: 90%;
  height: 20px;
  padding: 4px;
  font-variant: small-caps;
}

.button-error {
  background: rgb(202, 60, 60); /* this is a maroon */
}

.center {
  text-align: center;
}

.middle {
  display: table-cell;
  width: @mainWidth;
  text-align: center;
  vertical-align: middle;
}

.short {
  height: 150px;
}

#critical {
  width: @mainWidth;
  padding: 10px;
  b { color: red; display: block; }
}

#container {
  width: @mainWidth;
  display: block;
  background-color: @mainBg;
}

// Menu
nav {
  height: @menuHeight;
  line-height: @menuHeight - 1;
  background-color: @menuBg;
  border-bottom: 1px solid #aaa;

  .logo {
    font-size: 115%;
    text-decoration: none;
    font-variant: small-caps;
    color: @logoFg;
    background-color: @logoBg;
    padding: 0 5px;
    border-right: @logoBorder;
  }

  ul {
    margin: 0;
    padding: 0;

    li {
      font-size: 115%;
      list-style-type: none;
      float: right;
    }

    a {
      display: block;
      text-decoration: none;
      color: @menuFg;
      padding: 0 5px;
      margin-right: 3px;
      font-variant: small-caps;

      &:hover {
        color: @menuHover;
      }
    }
  }
}

.expiration {
  a {
    cursor: pointer;
    color: @menuFg;
    border-bottom: 1px dotted @menuFg;
    &:hover {
      color: lighten(@menuFg, 30%);
      border-bottom: 1px dotted lighten(@menuFg, 30%);
    }
  }
}

.weak {
  color: #777;
}

// Address book tab
article {
  position: relative;

  padding: @articlePadding;
  height: @articleHeight;

  label {
    font-weight: bold;
    margin-right: 2px;
    display: block;
  }

  .clear-text {
    textarea {
      .input;
      width: 98%;
      height: 45px;
      resize: none;
    }
    margin-bottom: 5px;
  }

  ul {
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    li {
      list-style-type: none;
    }
  }

  ul.found-keys {
    background: rgba(0,0,0,0.1);
    border: 1px solid #666;
    max-height: @articleHeight / 3;
    input[type="checkbox"] {
      cursor: pointer;
    }
    li {
      padding: 5px;
      cursor: pointer;
      &:hover {
        background-color: @selectBg;
        color: @selectFg;
      }
    }
    .remote {
      color: #666;
    }
  }

  .bottom {
    position: absolute;
    top: @articleHeight - 30;
  }

  ul.selected-keys {
    .input;
    padding: 2px;
    max-height: @beadHeight * 3 + 8; // XXX
    overflow-y: auto;
    cursor: text;

    li {
      position: relative;
      float: left;
      padding: 2px;
      margin-right: 4px;
      width: @beadWidth;
    }

    .filter {
      background-color: rgba(0,0,0,0);
      border: none;
    }

    .bead {
      width: @beadWidth;
      height: @beadHeight;
      line-height: @beadHeight;
      color: @beadFg;
      background-color: @beadBg;
      border: @beadBorder;
      border-radius: @beadRadius;
      box-shadow: @beadBoxShadow;
      margin-bottom: 2px;
      .name {
        padding: @beadPadding;
        line-height: @beadHeight - 2 * @beadPadding;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: clip;
        font-variant: small-caps;
        text-transform: lowercase;
        text-shadow: @beadShadow;
        cursor: default;
      }
      .remove {
        position: absolute;
        top: 0;
        left: @beadWidth - @beadRemoveWidth + 4;
        width: @beadRemoveWidth;
        height: @beadHeight + 4;
        font-weight: bold;
        cursor: pointer;
        text-align: center;
        border-left: @beadBorder;
        color: @beadRemoveFg;
        background-color: @beadRemoveBg;
        border-top-right-radius: @beadRadius;
        border-bottom-right-radius: @beadRadius;
        &:hover{
          background-color: lighten(@beadRemoveBg, 10%);
        }
      }
    }
  }
}

.wait {
  font-variant: small-caps;
  font-weight: normal;
}
