
@color1: #A2CDF2;
@color2: #6C7D8C;
@color3: #F2F2F2;
@color4: #000D02;
@color5: #D94436;

html,body {
  margin: 0;
  padding: 0;
}

#error {
  background-color: @color5;
  color: @color4;
  padding: 3px;
  font-weight: bold;
  text-align: center;
}

#password {
  background-color: @color2;
  width: 300px;
  height: 100px;
  display: table-cell;
  text-align: center;
  vertical-align: middle;

  button {
    font-size: 90%;
    margin-top: 6px;
  }

  input {
    font-size: 150%;
    padding: 5px;
    border: 2px solid @color4;
  }

}

#main {
  width: 360px;
  height: 300px;
  display: block;
  background-color: @color3;

  .menu {
    background-color: #fff;
    height: 30px;
    line-height: 30px;
    ul {
      margin: 0;
      padding: 0;

      li {
        font-size: 115%;
        list-style-type: none;
        float: left;
      }

      a {
        display: block;
        text-decoration: none;
        color: @color3;
        background-color: @color2;
        padding: 0 15px;
        margin-right: 5px;
        border: 1px solid @color4;
        border-bottom: none;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        font-weight: bold;

        &:hover {
          color: @color4; 
        }

        &.active  {
          background: @color3;
          color: @color4;
        }
      }
    }
  }

  #address-book {
    .filter {
      margin-bottom: 3px;
      width: 98%;
      color: #00a;
      font-weight: bold;
    }

    ul {
      margin: 5px 0;
      padding: 0;
      input[type="checkbox"] {
        cursor: pointer;
      }
      li {
        padding: 2px 0;
        list-style-type: none;
        cursor: pointer;
        &:hover {
          background-color: #3b8bba;
          color: #fff;
        }
      }
    }
  }

  button {
    font-weight: bold;
  }
}
